BasedOnStyle: LLVM
ColumnLimit: 100

# indent
UseTab: Always
TabWidth: 2
IndentWidth: 2

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false

# comments
ReflowComments: false

# type*, type&
PointerAlignment: Left
ReferenceAlignment: Left

# namespaces
NamespaceIndentation: All
FixNamespaceComments: true

# access modifiers
EmptyLineBeforeAccessModifier: Never

# args
BinPackArguments: false
BinPackParameters: false

# constructor initializers
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 0
