[submodule "src/compiler/test/sqlite/sqlite"]
	path = src/compiler/test/sqlite/sqlite
	url = https://github.com/azadkuh/sqlite-amalgamation
[submodule "src/compiler/test/lz4/lz4"]
	path = src/compiler/test/lz4/lz4
	url = https://github.com/lz4/lz4
[submodule "src/compiler/test/wren/wren"]
	path = src/compiler/test/wren/wren
	url = https://github.com/wren-lang/wren
[submodule "src/compiler/test/libyaml/libyaml"]
	path = src/compiler/test/libyaml/libyaml
	url = https://github.com/yaml/libyaml
[submodule "src/compiler/test/zlib/zlib"]
	path = src/compiler/test/zlib/zlib
	url = https://github.com/madler/zlib
